$smT: 48px;
$bgT: 60px;
$smFontSize: 24 px;
$bgFontSize: 48 px;
$primaryClr: #fff;
$secondaryClr: #8c2424;
$greyColor: rgb(128, 128, 128);
$darkColor: #000;

@font-face {
  font-family: "AktivGrotesk-Regular";
  src: url("../css/fonts/AktivGrotesk-Regular.otf");
}

body {
  margin: 0;
  width: 100%;
  background-color: $primaryClr;
  border-top: $greyColor solid 22px;
  padding-top: 56px;
  font-family: "AktivGrotesk-Regular", Arial, Helvetica, sans-serif;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;

  img {
    width: 120px;
    height: 120px;
  }
}


a {
  color: #000;
}

article {
  .date {
    color: $secondaryClr;
    font-weight: bold;
  }

  .divider {
    width: 70%;
    margin: 0 auto;
    border: solid $greyColor 1.1px;
  }

  #blog-image {
    max-width: 100%;
  }

  p {
    text-align: justify;
  }

  .social-button {
    color: white;
    background-color: darkblue;
  }
}

aside {
  text-align: center;
  border-right: 1px solid $darkColor;

  .aside-input::placeholder {
    text-align: center;
  }

  .aside-btn {
    background-color: grey;
    height: 40px;
    width: 50%;
    margin: 10px;
    color: #fff;
  }

  a:hover {
    border-top: 1px dotted $darkColor;
    border-bottom: 1px dotted #000;
    color: #000;
  }

  .bordered-top-bottom {
    border-top: 1px dotted $darkColor;
    border-bottom: 1px dotted $darkColor;
  }

  .dotted-line {
    border-bottom: 1px dotted $darkColor;
    border-bottom-width: 1px;
  }

}

textarea.form-control {
  background-color: #C4C4C4;
}
