
@font-face {
    font-family: 'AktivGrotesk-Regular';
    src: url("../css/fonts/AktivGrotesk-Regular.otf"); }
  html,
  body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #ffffff;
    font-family: 'AktivGrotesk-Regular', Arial, Helvetica, sans-serif; }
   
   
    body{
        padding-top:51px;
        border-top:gray solid 12px;
        border-left:gray solid 5px;
        border-right:gray solid 5px;
        border-bottom:gray solid 5px;
        }
   
   
    .date {
    color: #8C2424;
    font-weight: bold; }

.twoColumn{
     width: 49;
     float:left;
   
}



img{ 
   max-width: 100%;
   padding-top: 31px;
}

.social-button{
    color:white;
    background-color: darkblue;
}
.bold{
    font-weight: 700;
}
.dotted-line{
    border-bottom: 1px dotted #000000; border-bottom-width: 1px;
}
.text-right{
    float:left;
     display:block;
}

